.dices-container-main{
    width: 12%;
    min-height: 100vh;
    background-color: gray;
    float: right;

    margin-right: 10px;

    .dice-img{
        width: 18vmin;
        height: 18vmin;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn-primary{
        margin-left: 5px;
        margin-top:5px;
    }

    .dice-locked{
        border-width: 5px !important;
        border-color: red !important;
        border-style: solid !important;
    }

}


