.gamecard {
	background-color: #FFF;
	width: 100%;
	padding: 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);


	table, td {
		padding: 3px 4px 3px 4px;
	}

	tr:first-child {
		font-weight: 700;
	}

	td {
		border: 1px solid black;
		&:first-child {
			font-weight: 700;
		}
	}

	.unavailable-option {
		background-color: #daa;
	}

	.gamecard-shade {
		background-color: #f2f2f2;
	}

	.gamecard-shade-darker {
		background-color: #999;
	}

	.active-player {
		background-color: green;
		color: white;
	}
}
