.gamecard {
	background-color: #FFF;
	width: 100%;
	padding: 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);


	table, td {
		padding: 3px 4px 3px 4px;
	}

	tr:first-child {
		font-weight: 700;
	}

	td {
		border: 1px solid black;
		&:first-child {
			font-weight: 700;
		}
	}

	.unavailable-option {
		background-color: #ddd;
		color: #bbb;
		font-style: italic;
	}

	.gamecard-shade {
		background-color: #ccc;
	}

	.gamecard-shade-darker {
		background-color: #bbb;
	}

	.active-player {
		background-color: #635a5a;
		color: white;
	}

	.highlightScore {  
        /* Marker for each users latest score round */
       background-color: #eee;
       // color: #fff;
       font-style: italic;
       font-weight: 700;
    }


}
