body {
    background-color: #e6af4b;
    background-image: url("/images/wood-pattern.png");
}

#start-page {
    height: 100%;
}

#gamearea {
    // background-color: #334431;
    padding-top: 10px;
}