body {
    background-color: #99B6CE;
    background-image: url("/images/wood-pattern.png");
}

// The Audio Button is placed outside the templates. 

.audio-button-container {
    margin-right: 12%;
    margin-top: 18px;
    margin-bottom: 12px;
    float: right;

    .sound-symbol {
        font-size: 14px;
        line-height: 0;
        span {
            font-size: 24px;
        }
    }
}

.center-game {
    text-align: center;
}

/* =========== MEDIA QUERIES ======

For extra small phone devices */

@media (max-width: 365px) {
    .audio-button-container {
        margin-right: 10%;
        margin-top: 6px;
        margin-bottom: 2px;
    }
}