.dices-container-main{
    width: 100%;
    height: 100vh;
    float: right;
    margin-right: 10px;

    .dice-img{
        width: 72px;
        height: 78px;
        display: block;
        padding-bottom: 8px;
        // padding-top: 5px;
        // margin-top: 8px;
    }


    .dice-locked{
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(15deg);
    }

    .throw-btz {
        margin-top: 12px;
        width: 72px;
        height: 72px;
        border-radius: 100%;
        border: 2px solid white; 
        box-shadow: 4px 4px 4px #999;
        font-size: 15px;
        text-align: center;
        vertical-align: middle;
        color: white;
        line-height: 50px; /*or you could use 4em*/
    }

    /*karzan under*/

    .dice-lock {
        top: 0;
        left: 0;
        position: absolute;
    }

    .dice-container {
        position: relative;
    }

}


