.modal-footer {
	text-align: center;
}

.player-result {
	// width: 80%;
	font-size: 2em;
	margin: 0 auto;
}

.player-row {
	padding: 3px 6px 3px 6px;
}

.player {
	width: 75%;
}

.p1 {
	font-weight: bold;
}

.score {
	text-align: right;
}

