
<div class="container-fluid">
    <div class="row">

        <!-- ////=============== GAMECARD AREA-->

        <div class="col-xs-9 col-sm-3">
            <table class="gamecard">
                <tbody>
                    <tr class="gamecard-shade">
                        <th class="gamecard-shade-darker">Deltagare</th>
                        <th>PL1</th>
                        <th>PL2</th>
                        <th>PL3</th>
                        <th>PL4</th>
                    </tr>
                    <tr>
                        <td>Ettor</td>
                        <td>5</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Tvåor</td>
                        <td>10</td>
                        <td>4</td>
                        <td>10</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Treor</td>
                        <td>15</td>
                        <td>12</td>
                        <td>15</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Fyror</td>
                        <td>20</td>
                        <td>16</td>
                        <td>20</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>Femmor</td>
                        <td>25</td>
                        <td>15</td>
                        <td>-</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Sexor</td>
                        <td>30</td>
                        <td>18</td>
                        <td>30</td>
                        <td>18</td>
                    </tr>
                    <tr class="gamecard-shade">
                        <th class="gamecard-shade-darker">Summa</th>
                        <th>105</th>
                        <th>67</th>
                        <th>105</th>
                        <th>67</th>
                    </tr>
                    <tr class="gamecard-shade">
                        <th class="gamecard-shade-darker">Bonus</th>
                        <th>50</th>
                        <th>50</th>
                        <th>0</th>
                        <th>50</th>
                    </tr>
                    <tr>
                        <td>Ett par</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Två par</td>
                        <td>22</td>
                        <td>12</td>
                        <td>22</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Triss</td>
                        <td>18</td>
                        <td>15</td>
                        <td>18</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Fyrtal</td>
                        <td>24</td>
                        <td>0</td>
                        <td>24</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Liten stege</td>
                        <td>15</td>
                        <td>15</td>
                        <td>-</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Stor stege</td>
                        <td>20</td>
                        <td>0</td>
                        <td>20</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Kåk</td>
                        <td>28</td>
                        <td>28</td>
                        <td>28</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Chans</td>
                        <td>30</td>
                        <td>28</td>
                        <td>30</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Yatzy</td>
                        <td>50</td>
                        <td>50</td>
                        <td>-</td>
                        <td>50</td>
                    </tr>
                    <tr class="gamecard-shade">
                        <th class="gamecard-shade-darker">Totalt</th>
                        <th>374</th>
                        <th>277</th>
                        <th>374</th>
                        <th>277</th>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- ////=============== DICE AREA -->

        <div class="col-xs-3">
            <div class="dices-container-main">
                <a class="btn btn-success btn-md" href="#" role="button" id="throwBtn">Kasta</a>
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
            </div>
        </div>

    </div>
</div>