<div id="gamearea">
    <div class="whole-game-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 game-header">
                    <img class="game-logo-small" src="/images/yatzy-game-page.png">
                    <img class="info-icon" src="/images/info-icon.png">
                    <button class="new-game-button">Starta nytt spel</button>
                </div>
            </div>
            <!-- ////=============== GAMECARD AREA-->
            <div class="row">
                <div class="">
                    <div class="col-xs-9 wrapper">
                        <table class="gamecard">
                            <tbody>
                            </tbody>
                        </table>
                        <div>
                        </div>
                    </div>
                    <!-- ////=============== DICE AREA -->
                    <div class="col-xs-3">
                        <div class="dices-container-main">
                            <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                            <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                            <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                            <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                            <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                            <a class="btn btn-success btn-lg throw-btz" role="button" id="throwBtn">Kasta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
