<div id="start-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 center-game">
                <img class="game-logo" src="/images/yatzy-start-page.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-game">
                <div class="player-list"></div>
                <br>
                <button class="addPlayer small-btz">Add player</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-game">
                <br>
                <button class="btn btn-lg start-game-button">Start Game</button>
            </div>
        </div>
    </div>
</div>
