
<div class="modal fade" tabindex="-1" role="dialog" id="win-popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Och vinnaren är...</h4>
            </div>
            <div class="modal-body">
                <table class="player-result">
                    <tbody>
                        <tr class="player-row">
                            <td class="player p1"></td>
                            <td class="score p1"></td>
                        </tr>
                        <tr class="player-row">
                            <td class="player p2"></td>
                            <td class="score p2"></td>
                        </tr>
                        <tr class="player-row">
                            <td class="player p3"></td>
                            <td class="score p3"></td>
                        </tr>
                        <tr class="player-row">
                            <td class="player p4"></td>
                            <td class="score p4"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer align-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Stäng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

